ion-card{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

ion-button{
    width: 100%;
}
ion-title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    margin-top: 40%;
}

ion-content{
    --background:URL('../../assets/img/login_img_3.jpg') no-repeat 0 0 / 250%  200% ;
    
    
    
}

